@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




$primary-font: 'Inter', sans-serif;
$primary-font-size: 16px;
$secondary-font-size: 10px;
$font-color: #575757;
$font-color-secondary: #5f5f5f;

$background-color: #fff;
$background-color-secondary: #e8e4e4;